<div role="main" class="hero" style="min-height: 0px;">
  <div class="container">
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
</div>
{% set groups_all = h.groups_all() %}
{% block group_list %}
<div role="main" class="hero">
  <div class="container"  data-module="hierarchical-group-main" data-module-all="{{ groups_all }}" data-module-list="{{ groups_all|map(attribute='name')|list }}">
    <vue-main></vue-main>
  </div> 
</div>  
{% endblock %}
{% block treemap_chart %}
  <div role="main" class="hero">
    <div class="container" data-module='treemap-chart' data-module-all='{{ groups_all }}'>
      <vue-main></vue-main>
    </div>
  </div>  
{% endblock %}
{#
  <div class="row row2">
    <div class="col-md-6 col2">
      {% block promoted %}
        {% snippet 'home/snippets/promoted.html' %}
      {% endblock %}
    </div>
    <div class="col-md-6 col1">
      {% block stats %}
        {% snippet 'home/snippets/stats.html' %}
      {% endblock %}
    </div>
  </div>
  #}