[main]

dont_bundle = tracking.js
    modules/hierarchical-group.js
    modules/hierarchical-group-main.js
    modules/treemap-chart.js
    modules/copy-clipboard.js

[depends]

main = vendor/vendor
ckan = vendor/bootstrap

[custom render order]

apply_html_class = 1

[inline scripts]

apply_html_class =
    document.getElementsByTagName('html')[0].className += ' js';

[groups]

ckan =
main =
